# 복습

In [26]:
import pandas as pd

In [27]:
from pandas import Series, DataFrame

In [28]:
import numpy as np
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

### 1. 데이터 로딩: pd.read_csv()

 'datasets/exercise/insurance.csv'파일 읽어서 df에 할당하기

In [29]:
df=pd.read_csv('datasets/exercise/insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [46]:
# 이상치처리

In [51]:
# 25%
df['bmi'].quantile(q=0.25)

26.29625

In [45]:
bmi_level=df['bmi']
bins=[20,23,26,29,32,35]
level_cf= pd.cut(bmi_level, bins)
level_cf

0       (26.0, 29.0]
1       (32.0, 35.0]
2       (32.0, 35.0]
3       (20.0, 23.0]
4       (26.0, 29.0]
            ...
1333    (29.0, 32.0]
1334    (29.0, 32.0]
1335             NaN
1336    (23.0, 26.0]
1337    (29.0, 32.0]
Name: bmi, Length: 1338, dtype: category
Categories (5, interval[int64]): [(20, 23] < (23, 26] < (26, 29] < (29, 32] < (32, 35]]

### 2. df의 상위 5개 항목 출력

In [30]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

### 3. df의 요약(평균, 4분위수, 전체 갯수 등)

In [31]:
df.mean()

age            39.207025
bmi            30.663397
children        1.094918
charges     13270.422265
dtype: float64

In [32]:
# df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

### 4. 신규 컬럼(double bmi)을 생성하고, bmi의 2배가 되는 값을 할당하기

In [33]:
df['double bmi']=df.bmi*2
df.head()

   age     sex     bmi  children smoker     region      charges  double bmi
0   19  female  27.900         0    yes  southwest  16884.92400       55.80
1   18    male  33.770         1     no  southeast   1725.55230       67.54
2   28    male  33.000         3     no  southeast   4449.46200       66.00
3   33    male  22.705         0     no  northwest  21984.47061       45.41
4   32    male  28.880         0     no  northwest   3866.85520       57.76

### 5. 신규 컬럼(debt)을 생성하고, 0으로 채우기

In [37]:
df['debt']="0"
df.head()

,age,sex,bmi,children,smoker,region,charges,double bmi,debt
0,19,female,27.900,0,yes,southwest,16884.92400,55.80,0
1,18,male,33.770,1,no,southeast,1725.55230,67.54,0
2,28,male,33.000,3,no,southeast,4449.46200,66.00,0
3,33,male,22.705,0,no,northwest,21984.47061,45.41,0
4,32,male,28.880,0,no,northwest,3866.85520,57.76,0

### 6. debt에 0부터 값이 증가하도록 채우기

In [38]:
df['debt']=np.arange(0,len(df))
df.head()

,age,sex,bmi,children,smoker,region,charges,double bmi,debt
0,19,female,27.900,0,yes,southwest,16884.92400,55.80,0
1,18,male,33.770,1,no,southeast,1725.55230,67.54,1
2,28,male,33.000,3,no,southeast,4449.46200,66.00,2
3,33,male,22.705,0,no,northwest,21984.47061,45.41,3
4,32,male,28.880,0,no,northwest,3866.85520,57.76,4

### 7. 1번 인덱스의 정보 출력:iloc

In [16]:
df.iloc[1]

age                   18
sex                 male
bmi                33.77
children               1
smoker                no
region         southeast
charges          1725.55
doublut bmi        67.54
double bmi         67.54
debt                   0
Name: 1, dtype: object

### 8. 3,5,8번 인덱스의 'debt'값을 12, 13, 14로 설정하기

In [18]:

val=pd.Series([12,13,14],index=[3,5,8])
df['debt']

IndexError: positional indexers are out-of-bounds

### 9. 'double bmi'열 삭제하기

In [ ]:
df.drop('double bmi', axis='columns')
df
df.drop('doublut bmi', axis='colums')

ValueError: No axis named colums for object type <class 'pandas.core.frame.DataFrame'>

### 10. 'age'열, 'sex'열만 출력하기

### 11. 함수 생성, 적용(apply/map)

나이를 1살씩 증가시키기

### 12. 함수 생성, 적용(apply/map)

charges의 표시형식을 소수점 아래 2자리로 바꾸기

### 13. 함수 생성, 적용(applymap)

데이터프레임 전체 값을 대괄호[ ] 로 감싸기

예: 	[19]	[female]	[27.9]	[0]	[yes]	[southwest]	[16884.924]

### 14. 컬럼 정렬(알파벳 순서대로) : sort_index
age, bmi, charges... 순으로 정렬

### 15. 값 정렬(age) : sort_values
나이 순으로 정렬

### 16. 평균구하기: mean

### 17. 공분산 구하기: cov

### 18. 남자, 여자가 각각 몇명있는지 구하기

### 19. 자녀(children)이 3명인 데이터 출력하기

### 20. 자녀(children)가 5명 이상인 데이터 출력하기

### 21. bmi가  17 미만인 데이터 출력하기

### 22. debt가 null이 아닌데이터 출력하기

### 23. 'age'가 60보다 큰 값만 출력하기