In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

/kaggle/input/bike-sharing-demand/test.csv
/kaggle/input/bike-sharing-demand/train.csv
/kaggle/input/bike-sharing-demand/sampleSubmission.csv

# 데이터 읽기

In [2]:
train =  pd.read_csv('/kaggle/input/bike-sharing-demand/train.csv',parse_dates=['datetime'])
test = pd.read_csv('/kaggle/input/bike-sharing-demand/test.csv',parse_dates=['datetime'])
submission = pd.read_csv('/kaggle/input/bike-sharing-demand/sampleSubmission.csv')

# 데이터 전처리

In [3]:
# datetime column에서 hour만 남김
train['datetime']=train['datetime'].dt.hour
test['datetime']=train['datetime'].dt.hour

#temp column 제거
train.drop('temp',axis=1)
test.drop('temp',axis=1)

AttributeError: Can only use .dt accessor with datetimelike values

In [4]:
train

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,0,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,1,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,3,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,4,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,19,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,20,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,21,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,22,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,23,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [8]:
test

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014
...,...,...,...,...,...,...,...,...,...
6488,2012-12-31 19:00:00,1,0,1,2,10.66,12.880,60,11.0014
6489,2012-12-31 20:00:00,1,0,1,2,10.66,12.880,60,11.0014
6490,2012-12-31 21:00:00,1,0,1,1,10.66,12.880,60,11.0014
6491,2012-12-31 22:00:00,1,0,1,1,10.66,13.635,56,8.9981
6492,2012-12-31 23:00:00,1,0,1,1,10.66,13.635,65,8.9981

In [5]:
# X, Y split
data_train = train.values
X_train = data_train[:,0:9]
Y_train = data_train[:,-1]

In [6]:
X_train

array([[ 0.    ,  1.    ,  0.    , ..., 14.395 , 81.    ,  0.    ],
       [ 1.    ,  1.    ,  0.    , ..., 13.635 , 80.    ,  0.    ],
       [ 2.    ,  1.    ,  0.    , ..., 13.635 , 80.    ,  0.    ],
       ...,
       [21.    ,  4.    ,  0.    , ..., 15.91  , 61.    , 15.0013],
       [22.    ,  4.    ,  0.    , ..., 17.425 , 61.    ,  6.0032],
       [23.    ,  4.    ,  0.    , ..., 16.665 , 66.    ,  8.9981]])

In [7]:
Y_train

array([ 16.,  40.,  32., ..., 168., 129.,  88.])

# 랜덤 포레스트 모델 생성 및 학습

In [10]:
# Random Forest Model
# n_estimators : 5000 -> 100으로 수정했습니다
model = RandomForestRegressor(n_estimators=100,
                              n_jobs=-1,
                              random_state=0)


model.fit(X_train, Y_train)
predict = model.predict(X_train)

In [12]:
predict

array([ 24.98 ,  37.1  ,  34.91 , ..., 163.435, 132.94 ,  90.81 ])

In [13]:
Y_train

array([ 16.,  40.,  32., ..., 168., 129.,  88.])

In [11]:
# MSE 확인
mean_squared_error(Y_train, predict)

700.1351264033597

# 테스트 데이터 전처리

In [14]:
test.drop('temp',axis=1)
test['datetime'] = test['datetime'].dt.hour
    
data_test = test.values
X_test = data_test[:,0:9]

# 학습한 랜덤 포레스트 모델로 테스트 데이터 예측

In [15]:
result = model.predict(X_test)
for i in range(len(submission)):
    submission['count'][i] = result[i]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
result

array([13.05      ,  5.04      ,  4.88      , ..., 81.55166667,
       98.22166667, 43.714     ])

In [17]:
#제출
submission.to_csv("result_RF.csv",index=False)