In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

In [2]:
df = pd.read_csv('datasets/exercise/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

### 1. 성별에 따른 보험료 평균

In [ ]:
grouped = df['charges'].groupby(df['sex'])
grouped.mean()

### 2. 흡연여부에 따른 보험료 평균

In [3]:
df['charges'].groupby(df['smoker']).mean()

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

### 3. 지역별 보험료 평균

In [4]:
df['charges'].groupby(df['region']).mean()

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

### 4. 흡연여부 + 지역별 데이터 평균

In [5]:
df.groupby(['smoker', 'region']).mean()

                        age        bmi  children       charges
smoker region
no     northeast  39.536965  29.332082  1.046693   9165.531672
       northwest  39.168539  29.212678  1.119850   8556.463715
       southeast  38.673993  33.442418  1.065934   8032.216309
       southwest  40.183521  30.507865  1.127341   8019.284513
yes    northeast  38.238806  28.565224  1.044776  29673.536473
       northwest  39.327586  29.140431  1.275862  30192.003182
       southeast  39.736264  33.096703  1.000000  34844.996824
       southwest  36.103448  31.005172  1.206897  32269.063494

### 5. 흡연여부 + 지역별 데이터 평균에서 'charges' 만 츨력하기

In [6]:
df.groupby(['smoker', 'region'])[['charges']].mean()

                       charges
smoker region
no     northeast   9165.531672
       northwest   8556.463715
       southeast   8032.216309
       southwest   8019.284513
yes    northeast  29673.536473
       northwest  30192.003182
       southeast  34844.996824
       southwest  32269.063494

### 6. 흡연여부 + 지역별 데이터 크기

In [7]:
df.groupby(['smoker', 'region']).size()

smoker  region
no      northeast    257
        northwest    267
        southeast    273
        southwest    267
yes     northeast     67
        northwest     58
        southeast     91
        southwest     58
dtype: int64

### 7. smoker 여부에 따라, group_val 컬럼에 '흡연자', '비흡연자' 표시하기

In [8]:
r1 = pd.DataFrame({'group_val': ['흡연자', '비흡연자']}, index=['yes', 'no'])
pd.merge(df, r1, left_on='smoker', right_index=True, how='outer')

      age     sex    bmi  children smoker     region     charges group_val
0      19  female  27.90         0    yes  southwest  16884.9240       흡연자
11     62  female  26.29         0    yes  southeast  27808.7251       흡연자
14     27    male  42.13         0    yes  southeast  39611.7577       흡연자
19     30    male  35.30         0    yes  southwest  36837.4670       흡연자
23     34  female  31.92         1    yes  northeast  37701.8768       흡연자
...   ...     ...    ...       ...    ...        ...         ...       ...
1332   52  female  44.70         3     no  southwest  11411.6850      비흡연자
1333   50    male  30.97         3     no  northwest  10600.5483      비흡연자
1334   18  female  31.92         0     no  northeast   2205.9808      비흡연자
1335   18  female  36.85         0     no  southeast   1629.8335      비흡연자
1336   21  female  25.80         0     no  southwest   2007.9450      비흡연자

[1338 rows x 8 columns]