# 제공되는 함수

In [4]:
# 정수형 변환
# int: 소수점 들어가면 오류남
int(23.3535)

float(53)

53.0

In [5]:
# 문자형 변환
str(35)

'35'

In [10]:
list1=[1,2,3,4]
tuple1=(5,6,7,8)as
set1={3,4,5,6}

In [11]:
type(set1)

set

In [12]:
list2=list(tuple1)

In [13]:
list2

[5, 6, 7, 8]

In [14]:
bool(1000)

True

In [15]:
bool(-2)

True

In [16]:
bool("")

False

In [19]:
scores= [90,80,95,85]
print("총점:{0}. 평균:{1}".format(sum(scores), sum(scores)/len(scores)))

총점:350. 평균:87.5

In [23]:
def getMean(a,b,c,d):
    mean= 0
    total=0
    list1= [a,b,c,d]
    #for문 사용
    for tmp in list1:
        total=total+tmp
        
    mean= total/len(list1)
    
    #sum 사용해보기
    #mean=sum(list1)/len(list1)
    return mean

In [25]:
def getMinMax(a,b,c,d):
    list1=[a,b,c,d]
    score_min=min(list1)
    score_max=max(list1)

return min(list1)

SyntaxError: 'return' outside function (<ipython-input-25-7f0f5904f35d>, line 6)

In [24]:
scores=[90,80,95,85]
mean=getMean(90,80,95,85)
mean

87.5