# 리스트 (list)
- 여러 개의 데이터를 묶어서 처리
- 대괄호 사용[]
- 각 항목의 데이터 타입은 같지 않아도 됨
- 데이터는 콤마로 구분
- 빈 리스트: []

- 특정 위치에 있는 값 선택
    -- list[위치]
    -- 위치는 0부터 시작
    -- -1: 가장 마지막 리스트 값 반환

- 특정 위치에 있는 값 할당
    -list[위치]=새로운 값
    
- 더하기(+) 연산: 두 리스트를 연결
- 곱하기(*) 연산: 리스트 반복

- 리스트중 일부 항목 가져오기
- list4[시작:끝:간격]
- 예: list4[0:8:2]
- '시작'값은 포함(이상), '끝'미포함(미만)
- '간격': 기본은 1
- 시작, 끝, 간격 값 생략 가능 

- 리스트 값 삭제
-del list[5]
-del list[삭제할 값]

- 값 확인 
-5 in list4
-값 in 리스트이름


- append(): 제일 마지막에 하나 추가
- insert(): 특정 위치에 추가 : list4.insertS
- extend(): 제일 마지막에 여러개 추가
- remove(): 첫번째로 일치하는 항목 삭제
- pop(): 마지막 값 출력, 삭제
- index(): 첫번째로 일치하는 항목의 위치(인덱스)
- count(): 항목의 개수
- sort(): 순방향 정렬
- reverse(): 역방항 정렬

In [1]:
student1 = [90, 95, 80, 85]

In [2]:
print(student1)

[90, 95, 80, 85]

In [5]:
student1[2]

80

In [6]:
student1[-1]

85

In [7]:
student1[2]= 100

In [8]:
print(student1)

[90, 95, 100, 85]

In [10]:
myFriends =['영희', '철수', '영수']

In [11]:
myFriends[-1]

'영수'

In [12]:
list1=['영희', '철수', '영수', 90, 95, 80, 85]

In [13]:
list1[6]

85

In [14]:
list1+student1

['영희', '철수', '영수', 90, 95, 80, 85, 90, 95, 100, 85]

In [15]:
list2=[1,2,3,4]
list3=[5,6,7,8]

In [16]:
list2+list3

[1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
list2*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [19]:
list4=[0,1,2,3,4,5,6,7,8,9]

In [24]:
#list4[시작:끝:간격]
list4[2:8:2]

[2, 4, 6]

In [25]:
list4[:3]

[0, 1, 2]

In [26]:
list4[7:]

[7, 8, 9]

In [28]:
list4[::2]

[0, 2, 4, 6, 8]

In [29]:
del list4 [5]

In [30]:
print(list4)

[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [32]:
'5' in list4

False

In [33]:
list4.insert(5,'다섯')

In [34]:
list4

[0, 1, 2, 3, 4, '다섯', 6, 7, 8, 9]

In [35]:
list4.extend([11,12])

In [36]:
list4

[0, 1, 2, 3, 4, '다섯', 6, 7, 8, 9, 11, 12]

In [37]:
list4.pop()

12

In [38]:
list4

[0, 1, 2, 3, 4, '다섯', 6, 7, 8, 9, 11]

In [41]:
list4.index()\

TypeError: index() takes at least 1 argument (0 given)